In [2]:
1+1
print("test case")

test case

In [2]:
lst=[]
print(type(lst))

<class 'list'>

In [3]:
lst=["ainisn","baap",1,1,2,3,4]
print(lst)

['ainisn', 'baap', 1, 1, 2, 3, 4]

In [5]:
lst=["apple","banana","chhery","pineapple"]
lst[0]

'apple'

In [6]:
print(lst[2])

chhery

In [7]:
print(lst[-1])

pineapple

In [8]:
print(lst[1:])

['banana', 'chhery', 'pineapple']

In [9]:
print(1:3)

SyntaxError: invalid syntax (2294126983.py, line 1)

In [10]:
print(lst[1:3])

['banana', 'chhery']

In [11]:
fruits=lst

In [12]:
fruits[1:]

['banana', 'chhery', 'pineapple']

In [13]:
fruits[1]="anishekh"

In [14]:
print(fruits)

['apple', 'anishekh', 'chhery', 'pineapple']

In [15]:
fruits.append("serous")

In [16]:
print(fruits)

['apple', 'anishekh', 'chhery', 'pineapple', 'serous']

In [17]:
fruits.remove("apple")

In [18]:
print(fruits)

['anishekh', 'chhery', 'pineapple', 'serous']

In [19]:
popped_fruits=fruits.pop()
print(popped_fruits)

serous

In [20]:
print(fr uits)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4015932094.py, line 1)

In [21]:
print(fruits)

['anishekh', 'chhery', 'pineapple']

In [22]:
poppp=fruits.pop()

In [23]:
print(poppp
      )

pineapple

In [24]:
fruits.clear()

In [25]:
print(fruits
      )

[]

In [38]:
numbers=[1,2,3,4,5,6,7,8,9,10]

In [39]:
print(hm[2:5])
print(hm[:5])
print(hm[5:])
print(hm[::2])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [31]:
###iterating over list

In [40]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [42]:
for  index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [44]:
lst=[]
for x in range(10):
    lst.append(x**54)
print(lst)

[0, 1, 18014398509481984, 58149737003040059690390169, 324518553658426726783156020576256, 55511151231257827021181583404541015625, 1047532535594334222593508922191671036215296, 4318114567396436564035293097707728087552248849, 5846006549323611672814739330865132078623730171904, 3381391913522726342930221472392241170198527451848561]

In [45]:
 [x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [49]:
evennums=[nums for nums in range(17) if(nums%2==0)]
print(evennums)

[0, 2, 4, 6, 8, 10, 12, 14, 16]

In [1]:
#create turple

In [2]:
empty_tuple=()
print(empty_tuple)

()

In [3]:
lst=list()

In [4]:
type(lst)

list

In [5]:
list((1,2,2,2,2,2))

[1, 2, 2, 2, 2, 2]